.axis path, .axis line {
  fill: none;
  stroke: steelblue; }

.axis text {
  font: 10px Verdana; }

.axis {
  top: 0;
  right: 0;
  position: absolute;
  float: right; }

.table {
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  height: 200px;
  overflow-y: scroll; }

.hide {
  display: none; }

.chart {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  position: relative;
  margin: 5px; }

.buttons {
  position: absolute;
  top: 0;
  left: 240px; }

.fchart {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: none;
  margin: 5px; }

#file {
  display: none; }

.x, .y {
  width: 60px; }