@import 'normalize';

* {
	box-sizing: border-box;
}

body {
	background: url(../img/bg.jpg) no-repeat;
	background-size: cover, fixed;
}

 .dot {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2;
 }

.axis {
	top: 70px;
	right: 0;
	position: absolute;
	float: right;
}

.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.1;
}
.axis text {
   font: 10px Arial;
}

.hide {
	display: none;
}

.buttons {
	position: absolute;
	top: 0;
	left: 240px;
}

.x, .y {
	width: 73px;
}

.header {
	background: #181825;
	width: 100%;
	height: 70px;
	position: absolute;
	border-bottom: 2px solid #000;
}

.btnOpen {
	padding-top: 20px;
	color: #c3c3c3;
	font-size: 20px;
	width: 50px;
	height: 99%;
	float: right;
	margin: 0 0 0 0;
	position: absolute;
	right: 30px;
	cursor: pointer;
	display: none;

	@media screen and (max-width: 950px) {
		display: block;
	}
}

.btnOpen:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.openTable {
	margin-top: 0;
	padding-top: 20px;
	color: #c3c3c3;
	font-size: 20px;
	margin-left: 50px;
	cursor: pointer;
	width: 50px;
	height: 99%;
	margin-bottom: 0;
}

.openTable:hover {
	color: #fff;
	border-bottom: 2px solid #fff;
}

.table {
	margin-top: 5px;
	width: 200px;
	margin-left:20px;
	height: 200px;
	overflow-y: scroll;
	border: 1px solid #000;
	z-index: 999;
	position: relative;

	table {
		margin: 0 auto;
		text-align: center;
	}

	.counter {
		width: 30px;
	}
}

.addRow {
	margin-top: 5px;
	margin-left: 20px;
	position: relative;
	z-index: 999;
}

.chart {
	width: 50px;
	height: 50px;
	border:1px solid #000;
	margin: 3px;
	float: left;
	cursor: pointer;
}
.btns {
	float: right;
	display: block;
	margin-right: 20px;
	margin-top: 7px;
	position: relative;
	z-index: 999;
	


	@media screen and (max-width: 950px) { 
		margin-top: 80px;
		width: 60px;
		display: none;
	}
}

.fileReader {
	font-size: 14px;
	margin-top:25px;
	margin-left: 150px;
	width: 150px;
	color: #fff;
	position: absolute;
}

.tableWrapper {
	display: none;
}

.axis path, .axis line {
    fill: none;
    stroke: #333;
}
.axis .grid-line {
    stroke: #000;
    stroke-opacity: 0.2;
}
.axis text {
    font: 10px Verdana;
}
.bar {
    stroke: none;
    fill: steelblue;
}

